<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Living Hope {% block title %}{% endblock %}
  </title>
  {% load staticfiles %}
  <link href="{% static 'livinghope/bootstrap/css/bootstrap.css'%}" rel="stylesheet" type="text/css">
  <!--     <link href="{% static 'livinghope/bootstrap/css/bootstrap-mods.css'%}" rel="stylesheet" type="text/css"> -->
  <link rel="icon" type="image/png" href="{% static 'livinghope/leaf1.png' %}">  
  <link href="{% static 'livinghope/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{% static 'livinghope/bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'livinghope/backstretch.js' %}"></script>

  <script src="{% static 'livinghope/jquery.magnific-popup.min.js' %}"></script>
  <link href="{% static 'livinghope/magnific-popup.css' %}" rel="stylesheet" type="text/css">
  <script>
    $(document).ready(function(){
      $.backstretch("{% static 'livinghope/backgrounds/7.png' %}")
    })
  </script>
  <style>
    .container{
      background-color:white;
      /*opacity:0.95;*/
        box-shadow: 0px 0px 10px 0px #666,
        0px 5px 10px 0px #000;

    }
    /*this is to make hte container a max size*/
    .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left:30px;
      padding-right:30px;
      max-width: 1000px; /* or 950px */
    }
  </style>
  {% block headloaders %}{% endblock %}
</head>
<body>
  <div class="container container-fluid">
      <div class="page-header">
        <div class="row">
        <div class="col-md-7">
          <a href="{% url 'livinghope.views.home' %}">
            <img class="img-responsive" src="{% static 'livinghope/logo4.jpg' %}">
          </a>
        </div>
        {% if services %}
        <div class="col-md-4 pull-right">
          {% for service in services %}
            <address class="text-right text-bottom">
              <br>
              {{service.get_day_display}} Service @ {{service.start_time}} {{service.location.name}}<br>
              {{service.location.street_address}}<br>
              {{service.location.city}}, {{service.location.state}} {{service.location.zip_code}}
            </address>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse">
        <!-- <a class="navbar-brand" href="#">LivingHope</a> -->
        <ul class="nav navbar-nav">
          <li><a href="{% url 'livinghope.views.home' %}">Home</a></li>
          <li class="dropdown">
            <a href="#" class="Dropdown-toggle" data-toggle="dropdown">
            About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Our Story</a></li>
              <li><a href="{% url 'statement_of_faith' %}">Statement of Faith</a></li>
              <li><a href="{% url 'livinghope.views.leaders' %}">Our Leaders</a></li>
              <li><a href="#">Our Denomination</a></li>
            </ul>   
          </li>
          <li><a href="{% url 'services' %}">Sunday Service</a></li>
          <li><a href="{% url 'ministries' %}">Ministries</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Missions <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Missions Policy</a></li>
                <li><a href="{% url 'livinghope.views.missionaries' %}">Our Missionaries</a></li>
              </ul>
          </li>
          <li><a href="{% url 'livinghope.views.sermon_series' %}">Sermons</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="#">Events</a></li>
<!--           <li><a href="#">Calendar</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Connect <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'prayer' %}">Prayer</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
              </ul>
          </li>
          <li><a href="{% url 'giving' %}">Giving</a></li>
        </ul>
      </div>
    </nav>
    <div class="wellllll">
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <hr>
    <footer>
      <div class="row">
        <div class="col-md-3">
          <p>
            <small>
              <span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2015 Living Hope<br>
              {% for service in services %}
                  {{service.location.name}}<br>
                  {{service.location.street_address}}<br>
                  {{service.location.city}}, {{service.location.state}} {{service.location.zip_code}}<br>
              {% endfor %}
            </small>
          </p>
        </div>
        <div class="col-md-2">
          <p>
            <small>
              <strong><em>Navigation</em></strong><br>
              <a href="{% url 'home'%}">Home</a><br>
              <a href="{% url 'sermon_series'%}">Sermons</a></br>
              <a href="{% url 'missionaries' %}">Missions</a><br>
            </small>
          </p>
        </div>
        <div class="col-md-2">
          <p>
            <small>
              <strong><em>&nbsp;</em></strong><br>
              <a href="{% url 'home'%}">Home</a><br>
              <a href="{% url 'sermon_series'%}">Sermons</a></br>
              <a href="{% url 'missionaries' %}">Missions</a><br>
            </small>
          </p>
        </div>
      </div>
    </footer>
    <hr>
  </div>
</body>
</html>