{% extends 'base.html' %}
{% load static %}
{% block headloaders %}
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ posts_in_year.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ posts_in_year.number }},
                selectOnClick: false,
            });
            
            if ({{posts_in_year.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{posts_in_year.number}} == {{posts_in_year.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        

    });
  </script>
{% endblock %}

{% block content %}
<h2>Posts in {{year}}</h2>
<div class="row">
    <div class="col-md-9">
        {% for post in posts_in_year %}
            <h3>{{post.title}}</h3>
            <p><small>Posted on {{post.created_on}} by {{post.author}}</small></p>
            <div>
                {{post.content|safe|truncatewords_html:100}}
                <a href="{% url 'blog_entry' post.id %}">Read full post</a>
            </div>
            <hr>
        {% endfor %}
        <p class="text-right">
            Displaying posts {{posts_in_year.start_index}} - {{posts_in_year.end_index}} of {{posts_in_year.paginator.count}}
        </p>
        <nav>
            <ul class="pagination pull-right" id="pagination">
            </ul>
        </nav>
    </div>
    <div class="col-md-3">
        {% if most_recent_posts %}
            {% include 'recent_post_sidebar.html' %}
        {% endif %}

        {% if monthly_archive %}
            {% include 'archive_post_sidebar.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}