{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br><br>

    <div class="row">
        <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12 bottom-pad">
                <article class="post hentry">
                  {% if post.main_image %}
                   <div class="post-image">
                      <a href="{{post.main_image.url}}" data-rel="prettyPhoto">
                      <span class="img-hover"></span>
                      <span class="fullscreen"><i class="fa fa-search"></i></span>
                      <img width="100%" class="img-responsive" src="{{post.main_image.url}}" alt="">
                      </a>
                   </div>
                   {% endif %}
                   <header class="post-header">
                      <h3 class="content-title">{{post.title}}</h3>
                      <div class="blog-entry-meta">
                         <div class="blog-entry-meta-date">
                            <i class="fa fa-clock-o"></i>
                            <span class="blog-entry-meta-date-month">{{post.created_on}}</span>
                         </div>
                         <div class="blog-entry-meta-author">
                            <i class="fa fa-user"></i>
                            <a href="#" class="blog-entry-meta-author">{{post.author}}</a>
                         </div>
                         <div class="blog-entry-meta-tags">
                            <i class="fa fa-tags"></i>
                            {% for tag in post.tags.all %}
                              {% if forloop.last %}
                                <a href="#">{{tag.name}}</a>
                              {% else %}
                                <a href="#">{{tag.name}}</a> |
                              {% endif %}
                            {% endfor %}
                         </div>
                      </div>
                   </header>
                   <div class="post-content">
                        {{post.content|safe}}
                   </div>
                </article>
                <div class="blog-divider"></div>
                <ul class="pager">
                   <li class="previous"><a href="#">&larr; Older</a></li>
                   <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
        </div>
        <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <!-- Search Widget Start -->
            <div class="widget search-form">
               <div class="input-group">
                  <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
                  <span class="input-group-btn">
                  <button type="submit" class="subscribe-btn btn"><i class="fa fa-search"></i></button>
                  </span>
               </div>
               <!-- /input-group -->
            </div>
            <!-- Search Widget End -->
            <!-- Tab Start -->
            <div class="widget tabs">
               <div id="horizontal-tabs">
                  <ul class="tabs">
                     <li id="tab1" class="current">Recent</li>
                     <li id="tab2">Archive</li>
                  </ul>
                  <div class="contents">
                    {% include 'recent_post_sidebar.html' %}
                    {% include 'archive_post_sidebar.html' %}
                  </div>
               </div>
            </div>
            <!-- Tab End -->
            <!-- Category Widget Start -->
            {% include 'categories_sidebar.html' %}
            <!-- Category Widget End -->           

        </div>







    </div>
</div>
{% endblock %}