{% extends 'base.html' %}
{% load static %}
{% block headloaders %}
{% endblock %}
{% block content %}
   <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row blog-page">    
            <!-- Left Sidebar -->
            <div class="col-md-9">
                {% for post in all_posts %}
                <!--Blog Post-->        
                <div class="blog margin-bottom-40">
                    <h2><a href="{% url 'blog_entry' post.id %}">{{post.title}}</a></h2>
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> {{post.created_on.date}}</li>
                            <li><i class="fa fa-pencil"></i> {{post.author}}</li>
                        </ul>
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                <i class="fa fa-tags"></i> 
                                {% for tag in post.tags.all %}
                                <a href="#">{{tag}}</a> 
                                {% endfor %}
                            </li>
                        </ul>                                                
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive" src="{% static 'livinghope/cardboardpeople1.jpg' %}" alt="">
                    </div>
                    <p>{{post.content|safe|truncatewords_html:100}}</p>
                    <p><a class="btn-u btn-u-small" href="{% url 'blog_entry' post.id %}"><i class="fa fa-plus-sign"></i> Read More</a></p>
                </div>
                <!--End Blog Post-->        
                {% endfor %}
                <nav>
                    <ul class="pagination pull-right" id="pagination">
                    </ul>
                </nav>
            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3 magazine-page">
                <!-- Search Bar -->
                <div class="headline headline-md"><h2>Search</h2></div>            
                <div class="input-group margin-bottom-40">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button">Go</button>
                    </span>
                </div>
                <!-- End Search Bar -->
                {% include 'recent_post_sidebar.html' %}


                <!-- Posts -->
                {% include 'archive_post_sidebar.html' %}
                <!-- End Posts -->


                <!-- Blog Tags -->
                <div class="headline headline-md"><h2>Blog Tags</h2></div>
                <ul class="list-unstyled blog-tags margin-bottom-30">
                    <li><a href="#"><i class="fa fa-tags"></i> Business</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Music</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Internet</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Money</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Google</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> TV Shows</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Education</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> People</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> People</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Math</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Photos</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Electronics</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Apple</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Canada</a></li>
                </ul>
                <!-- End Blog Tags -->
            </div>
            <!-- End Right Sidebar -->








        </div>

    </div>

{% endblock %}

{% block endloaders %}
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ all_posts.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ all_posts.number }},
                selectOnClick: false,
            });
            
            if ({{all_posts.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{all_posts.number}} == {{all_posts.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        

    });
  </script>
{% endblock %}