{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block headloaders %}
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">From the desk of Living Hope</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<!-- {% thumbnail missionary.profile_picture 200x200 upscale as thumb %}
<img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}">  -->

<!-- <img src="{{missionary.profile_picture|thumbnail_url:'small'}}"> -->
<div class="container">
    <br>

<div class="row">
     <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
        {% for post in all_posts %}
        <article class="post hentry">
           {% if post.main_image %}
           <div class="post-image">
              <a href="{{post.main_image.url}}" data-rel="prettyPhoto">
              <span class="img-hover"></span>
              <span class="fullscreen"><i class="fa fa-search"></i></span>
              <img width="100%" src="{{post.main_image|thumbnail_url:'large'}}" alt="">
              </a>
           </div>
           {% endif %}
           <header class="post-header">
              <h3 class="content-title">{{post.title}}</h3>
              <div class="blog-entry-meta">
                 <div class="blog-entry-meta-date">
                    <i class="fa fa-calendar"></i>
                    <span class="blog-entry-meta-date">{{post.created_on}}</span>
                 </div>
                 <div class="blog-entry-meta-author">
                    <i class="fa fa-user"></i>
                    <a href="#" class="blog-entry-meta-author">{{post.author}}</a>
                 </div>
                 <div class="blog-entry-meta-tags">
                    <i class="fa fa-tags"></i>
                      {% for tag in post.tags.all %}
                        {% if forloop.last %}
                          <a href="#">{{tag.name}}</a>
                        {% else %}
                          <a href="#">{{tag.name}}</a> |
                        {% endif %}
                      {% endfor %}
                 </div>
              </div>
           </header>
           <div class="post-content">
              <p>
                 {{post.content|safe|truncatewords_html:50}}
              </p>
           </div>
           <footer class="post-footer">
              <a class="btn-small btn-color" href="{% url 'blog_entry' post.id %}">Read full post</a>
           </footer>
        </article>
        <div class="blog-divider"></div>
        {% endfor %}
         <p class="text-right">
        Displaying posts {{all_posts.start_index}} - {{all_posts.end_index}} of {{all_posts.paginator.count}}
        </p>
        <nav>
            <ul class="pagination pull-right" id="pagination">
            </ul>
        </nav>
     </div>
     <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <!-- Search Widget Start -->
        <div class="widget search-form">
           <div class="input-group">
              <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
              <span class="input-group-btn">
              <button type="submit" class="subscribe-btn btn"><i class="fa fa-search"></i></button>
              </span>
           </div>
           <!-- /input-group -->
        </div>
        <!-- Search Widget End -->
        <!-- Tab Start -->
        <div class="widget tabs">
           <div id="horizontal-tabs">
              <ul class="tabs">
                 <li id="tab1" class="current">Recent</li>
                 <li id="tab2">Archive</li>
              </ul>
              <div class="contents">
                {% include 'recent_post_sidebar.html' %}
                {% include 'archive_post_sidebar.html' %}
              </div>
           </div>
        </div>
        <!-- Tab End -->
        <!-- Category Widget Start -->
        {% include 'categories_sidebar.html' %}
        <!-- Category Widget End -->


     </div>
</div>

</div>
{% endblock %}


{% block endloaders %}
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ all_posts.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ all_posts.number }},
                selectOnClick: false,
            });
            
            if ({{all_posts.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{all_posts.number}} == {{all_posts.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        

    });
  </script>
  {% endblock %}