<form id="contact-leader-form" action="{{process_url}}" role="form" method="get">
    {{form.non_field_errors}}
    {% for field in form %}
    <div class="form-group">
        {% if not field.is_hidden%}
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}
        {{field}}
    </div>
    {% endfor %}
</form>
<button id="contact-leader-submit-button" class="btn btn-primary">Submit</button><i id="contact-leader-submit-spinner" style="display:none;" class="fa fa-cog fa-2x fa-spin"></i>