{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Our Denomination</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="container">

<br><br>
<p>
Our church is a part of the Christian and Missionary Alliance <a href="http://www.cmalliance.org/">(click here for C&MA website)</a>, a missionary movement that combines the energy of the local church with a  passion for God's work around the world.  Our beliefs can be seen more <a href="http://www.cmalliance.org/about/beliefs/">here</a>. 
</p>
</div>
{% endblock %}