{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block headloaders %}
{% endblock %}
{% block title %}
| Donations
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Donations</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="container">
  <br>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">
          {{message}}
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'create_donation_posting' %}" class="btn btn-primary">Make a posting</a>
    </div>
    <div class="col-md-6">
      <p class="pull-right">
        <a href="{% url 'donation_subscriber' %}" class="btn btn-primary">Subscribe to postings</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
          In America, we are blessed with an abundance of "stuff". Often this results in a lot of clutter in our homes that we don't need but don't want to just toss into the trash.<br><br>

          On the other side, while we do have a lot of stuff, there are those times when we are in need of something that we wouldn't mind obtaining used.<br><br>

          In light of these two situations, you are able to make a donation posting on the Living Hope website! If you are looking to donate something that you no longer have use for, make a posting! If you're looking for something specific, make a donation posting indicating you're looking! <br><br>

          Simply peruse the listings below and should you be interested in anything or be able to help someone find an item they are looking for, you can contact them directly!

          <br><br>
          Postings last for 30 days.
      </p>    
    </div>
  </div>

  <div class="row">
  {% if seeking_postings or giving_postings %}

      {% if seeking_postings %}
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
          <hr>
          <h3 class="title">People are looking for these things:</h3>
          <div class="row">
            <div class="portfolio">
              {% for sp in seeking_postings %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
                   <div class="portfolio-item">
                    <a href="{% url 'donation_details' sp.id %}" class="portfolio-item-link">
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen"><i class="fa fa-search"></i></span><img src="{% static 'livinghope/searching_donation.png' %}" alt=" "/>
                    </a>
                      <div class="portfolio-item-title">
                         <a href="#">{{sp.name}}</a>
                         <p>
                            Posted by {{sp.contact_name}} on {{sp.created_on}}
                         </p>
                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if giving_postings %}
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
          <hr>
          <h3 class="title">People are donating these things:</h3>
          <div class="row">
             <div class="portfolio">
              {% for gp in giving_postings %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
                   <div class="portfolio-item">
                    <a href="{% url 'donation_details' gp.id %}" class="portfolio-item-link">
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen"><i class="fa fa-search"></i></span>
                      {% if gp.donationpostingimage_set.all %}
                        <img src="{{gp.donationpostingimage_set.all.0.image|thumbnail_url:'ss_thumb'}}" alt="{{gp.donationpostingimage_set.all.0.title}}">
                      {% else %}
                      <img src="{% static 'livinghope/mysterybox.jpg' %}" alt=" "/>
                      {% endif %}
                    </a>
                      <div class="portfolio-item-title">
                         <a href="#">{{gp.name}}</a>
                         <p>
                            Posted by {{gp.contact_name}} on {{gp.created_on}}
                         </p>
                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>
                {% endfor %}
             </div>
          </div>
       </div>
     {% endif %}

  {% else %}
    <div class="col-md-12">
      <h3 class="title">
      There are currently no active and approved postings! Check back soon!
      </h3>
    </div>
  {% endif %}
  </div>
    
</div>
{% endblock %}