{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block headloaders %}
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
  <style>

    .map-canvas {
      height: 400px;
      background-color: #CCC;
      margin-bottom: 15px;
      /*padding: 0px;*/
    }
    .canvas-short {
      height: 300px;
      background-color: #CCC;
      margin-bottom: 15px;
      /*padding: 0px;*/}
  </style>
  <!-- <link rel="stylesheet" href="{% static 'livinghope/fix_modal.css' %}"> -->

{% endblock %}

{% block title %}
| Events
{% endblock %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Upcoming Events</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="content">
    <div class="container">
      {% for event in events %}
      <div class="row"> <!-- begin event row -->
          <div class="posts-block col-lg-9 col-md-9 col-sm-6 col-xs-12"> <!-- begin left column -->
              <h3 class="title">{{event.name}}
              </h3>
              <h4>{{event.date}} at {{event.start_time}} 
                    {% if event.end_date or event.end_time %}
                        to 
                        {% if event.end_date%}
                            {{event.end_date}} {% if event.end_time %}at {{event.end_time}}{%endif%}
                        {% else %}
                            {{event.end_time}}
                        {% endif %}

                    {%endif%}
              </h4>
              {% if not event.main_image %}
              <!--No main image-->
                  <div class="row">
                      <div data-lat="{{event.location.latitude}}" data-lon="{{event.location.longitude}}" class="col-md-12 map-canvas">
                      </div>
                  </div>
                  <div class="row">
                      {% if event.location.public %}
                      <address>
                          {{event.location.name}}<br>
                          {{event.location.street_address}}<br>
                          {{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}
                      </address>
                      {% endif %}  

                      <p>
                        {{event.description|truncatewords:50}}
                      </p>
                  </div>
              <!--End no main image  -->
              {% else %}
              <!-- Main image -->
                  {% if event.main_image.is_wide %}
                  <!-- Wide Image -->
                      <div class="row">
                        <img class="img-thumbnail" src="{{event.main_image|thumbnail_url:'large'}}">
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-7">
                            <p>
                              {{event.description|safe}}
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div data-lat="{{event.location.latitude}}" data-lon="{{event.location.longitude}}" class="map-canvas canvas-short">
                            </div>
                            <div>
                                {% if event.location.public %}
                                <address>
                                    {{event.location.name}}<br>
                                    {{event.location.street_address}}<br>
                                    {{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}
                                </address>
                                {% endif %}  
                            </div>
                        </div>
                      </div>
                  <!-- end wide image -->
                  {% else %} 
                  <!-- Narrow image -->
                    <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                              <img class="img-thumbnail" src="{{event.main_image|thumbnail_url:'med-square'}}">
                          </div>
                        </div>
                        <div class="col-md-7">
                              <div data-lat="{{event.location.latitude}}" data-lon="{{event.location.longitude}}" class="map-canvas canvas-short">
                              </div>
                                {% if event.location.public %}
                                <address>
                                    {{event.location.name}}<br>
                                    {{event.location.street_address}}<br>
                                    {{event.location.city}}, {{event.location.state}} {{event.location.zip_code}}
                                </address>
                                {% endif %}  
                        </div>
                    </div>
                    <div class="row">
                            <p>
                              {{event.description|safe}}
                            </p>
                    </div>
                    <!-- End narrow image -->
                  {% endif %}
              <!-- End main image -->
              {% endif %}
          </div> <!-- end left column -->
          <div class="skills col-lg-3 col-md-3 col-sm-6 col-xs-12"> <!-- begin right column -->
              <h3 class="title">More Info</h3>
              <p>
                For more information or ways that you can help with this event, contact {{event.organizer.all|pluralize:"the,one of our"}} leader{{event.organizer.all|pluralize}} below:
              <div class="portfolio">
                  {% for leader in event.organizer.all %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
                       <div class="portfolio-item">
                        <a href="#" data-leader-id="{{leader.id}}" data-subject="RE: Living Hope Event ({{event.name}})" data-target="#contact-leader" data-toggle="modal" class="portfolio-item-link contact-leader-link" >
                          <span class="portfolio-item-hover"></span>
                          <span class="fullscreen"><i class="fa fa-envelope"></i></span>
                            {% if leader.profile_picture %}
                              <img src='{{leader.profile_picture.url}}' >
                            {% else %}
                              <img class="img-responsive" src="{% static 'livinghope/placeholderprofile.jpg' %}" />
                            {% endif %}
                        </a>
                          <div class="portfolio-item-title">
                             {{leader.first_name}} {{leader.last_name}}
                          </div>
                          <div class="clearfix"></div>
                       </div>
                    </div>
                  {% endfor %}
              </div>
          </div> <!-- end left column -->
      </div> <!-- end event row -->
      <br><br>
      {% endfor %}
      <hr>
      <div class="row"> <!-- begin pagination row -->
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div class="pull-right text-right">
              Displaying events {{events.start_index}} - {{events.end_index}} of {{events.paginator.count}}
              <nav>
                <ul class="pagination" id="pagination">
                </ul>
              </nav>
            </div>
          </div>
      </div> <!-- end pagination row -->

    </div> <!-- end container -->
</div> <!-- end content -->


<!-- contact leader modal -->
<div class="modal fade" id="contact-leader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Contact Leader</h4>
        </div>
        <div class="modal-body" id="contact-leader-modal-body">

        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endloaders %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
<script src="{% static 'livinghope/contact_leader.js'%}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        function initialize(mapCanvas, latitude, longitude) {
            var latlon =  new google.maps.LatLng(latitude, longitude)
            // var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
              center: latlon,
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                    map: map,
                    position: latlon
                });
        }
        $('.map-canvas').each(function(index){
            var latitude = $(this).data('lat');
            var longitude = $(this).data('lon');
            initialize(this, latitude, longitude);
        })

        $(function() {
            $("#pagination").pagination({
                pages: {{ events.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ events.number }},
                selectOnClick: false,
            });
            
            if ({{events.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{events.number}} == {{events.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });   

    })
</script>

{% endblock %}