<div class="row">
    <div id="map-canvas" data-lat="{{location.latitude}}" data-lon="{{location.longitude}}" class="col-md-12">
    </div>
</div>
<h3>{{event.name}}<br>
    <small>{{event.date}} at {{event.start_time}} 
        {% if event.end_date or event.end_time %}
            to 
            {% if event.end_date%}
                {{event.end_date}} {% if event.end_time %}at {{event.end_time}}{%endif%}
            {% else %}
                {{event.end_time}}
            {% endif %}

        {%endif%}</small>
</h3>
<div class="row">
    <div class="col-md-12">
        {% if location.public %}
        <address>
            {{location.name}}<br>
            {{location.street_address}}<br>
            {{location.city}}, {{location.state}} {{location.zip_code}}
        </address>
        {% endif %}
        <p>
            {{event.description}}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            For more information, contact:<br>
            {% for organizer in organizers %}
                {{organizer}} - {{organizer.email}}<br>
            {% endfor %}
        </p>
    </div>
</div>