{% extends 'base.html' %}
{% load static %}
{% block headloaders %}
<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>

{% endblock %}

{% block content %}

         <!-- Slider Start-->
         <div class="fullwidthbanner-container">
             <div class="fullwidthbanner rslider">
                 <ul>
                     <!-- THE FIRST SLIDE -->
                     <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                         <img class="img-responsive" src="{% static 'livinghope/sprout.jpg'%}"  alt="Pixma" data-lazyload="{% static 'livinghope/sprout.jpg'%}" >

                         <div class="caption h1 lft tp-caption start"
                              data-x="40"
                              data-y="85"
                              data-speed="700"
                              data-endspeed="800"
                              data-start="1000"
                              data-easing="easeOutQuint"
                              data-endeasing="easeOutQuint">
                             <h2>We are Living Hope</h2>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1400"
                              data-speed="1050"
                              data-y="180"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-leaf slide-icon"></i>
                                 <h5> A Gospel-centered church in the Chicago-land area</h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1500"
                              data-speed="1050"
                              data-y="220"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-leaf slide-icon"></i>
                                 <h5> A Christian and Missionary Alliance Church</h5>
                             </div>
                         </div>
                         <div class="caption lfb caption_button_1 fadeout tp-caption start"
                              data-x="40"
                              data-y="300"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="2000"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="{% url 'contact' %}">Where we are</a>
                         </div>
                         <div class="caption lfb caption_button_2 fadeout tp-caption start"
                              data-x="40"
                              data-y="370"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="2200"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="{% url 'statement_of_faith' %}">What we believe</a>
                         </div>
                     </li>
                     <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                         <img class="img-responsive" src="{% static 'livinghope/gospel-dna.jpg'%}"  alt="Pixma" data-lazyload="{% static 'livinghope/gospel-dna.jpg'%}" >

                         <div class="caption h1 lft tp-caption start"
                              data-x="40"
                              data-y="145"
                              data-speed="700"
                              data-endspeed="800"
                              data-start="1000"
                              data-easing="easeOutQuint"
                              data-endeasing="easeOutQuint">
                             <h2>Current</h2>
                         </div>
                         <div class="caption h1 lft tp-caption start"
                              data-x="40"
                              data-y="210"
                              data-speed="700"
                              data-endspeed="800"
                              data-start="1000"
                              data-easing="easeOutQuint"
                              data-endeasing="easeOutQuint">
                             <h2>Sermon Series</h2>
                         </div>
<!--                          <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1400"
                              data-speed="1050"
                              data-y="180"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-microphone slide-icon"></i>
                                 <h5> Listen to past recordings</h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1500"
                              data-speed="1050"
                              data-y="220"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-eye slide-icon"></i>
                                 <h5> Read the transcripts</h5>
                             </div>
                         </div> -->
                         <div class="caption lfb caption_button_1 fadeout tp-caption start"
                              data-x="40"
                              data-y="320"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="1200"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="{% url 'services' %}">Learn More</a>
                         </div>
                     </li>
                     <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                         <img class="img-responsive" src="{% static 'livinghope/cma-banner-logo1.jpg'%}"  alt="Pixma" data-lazyload="{% static 'livinghope/cma-banner-logo1.jpg'%}" >

                         <div class="caption h1 lft tp-caption start"
                              data-x="40"
                              data-y="85"
                              data-speed="700"
                              data-endspeed="800"
                              data-start="1000"
                              data-easing="easeOutQuint"
                              data-endeasing="easeOutQuint">
                             <h2>Our Denomination</h2>
                         </div>
<!--                          <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1400"
                              data-speed="1050"
                              data-y="180"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-microphone slide-icon"></i>
                                 <h5> Listen to past recordings</h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1500"
                              data-speed="1050"
                              data-y="220"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-eye slide-icon"></i>
                                 <h5> Read the transcripts</h5>
                             </div>
                         </div> -->
                         <div class="caption lfb caption_button_1 fadeout tp-caption start"
                              data-x="40"
                              data-y="190"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="1200"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="{% url 'denomination' %}">Learn More</a>
                         </div>
                     </li>
                     <!-- THE FIRST SLIDE -->
                     <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                         <img src="{% static 'livinghope/cardboardpeople1.jpg'%}"  alt="Pixma" data-lazyload="{% static 'livinghope/cardboardpeople1.jpg'%}" data-bgposition="center top" >
                         <div class="caption large_text sft"
                              data-x="660"
                              data-y="54"
                              data-speed="300"
                              data-start="800"
                              data-easing="easeOutExpo"  >Ministries at Living Hope</div>
                         <div class="caption medium_text sfl"
                              data-x="689"
                              data-y="92"
                              data-speed="300"
                              data-start="1100"
                              data-easing="easeOutExpo"  >Get</div>
                         <div class="caption large_text sfr"
                              data-x="738"
                              data-y="88"
                              data-speed="300"
                              data-start="1100"
                              data-easing="easeOutExpo"  >Involved</div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1400"
                              data-speed="1050"
                              data-y="180"
                              data-x="660">
                             <div class="list-slide">
                                 <i class="fa fa-group slide-icon"></i>
                                 <h5> Small Groups </h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1800"
                              data-speed="1200"
                              data-y="220"
                              data-x="660">
                             <div class="list-slide">
                                 <i class="fa fa-female slide-icon"></i>
                                 <h5> Women's Ministry </h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="2200"
                              data-speed="1350"
                              data-y="260"
                              data-x="660">
                             <div class="list-slide">
                                 <i class="fa fa-user slide-icon"></i>
                                 <h5> Children's Ministry </h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="2600"
                              data-speed="1350"
                              data-y="300"
                              data-x="660">
                             <div class="list-slide">
                                 <i class="fa fa-leaf slide-icon"></i>
                                 <h5> Sunday Service </h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="3000"
                              data-speed="1350"
                              data-y="340"
                              data-x="660">
                             <div class="list-slide">
                                 <i class="fa fa-music slide-icon"></i>
                                 <h5> Music Ministry </h5>
                             </div>
                         </div>
                        <div class="caption lfb caption_button_1 fadeout tp-caption start"
                              data-x="660"
                              data-y="400"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="3200"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="#">Learn More</a>
                         </div>
                     </li>
                     <!-- THE FIRST SLIDE -->
                     <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
                         <img class="img-responsive" src="{% static 'livinghope/openbible.jpg'%}"  alt="Pixma" data-lazyload="{% static 'livinghope/openbible.jpg'%}" >

                         <div class="caption h1 lft tp-caption start"
                              data-x="40"
                              data-y="85"
                              data-speed="700"
                              data-endspeed="800"
                              data-start="1000"
                              data-easing="easeOutQuint"
                              data-endeasing="easeOutQuint">
                             <h2>Sermons</h2>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1400"
                              data-speed="1050"
                              data-y="180"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-microphone slide-icon"></i>
                                 <h5> Listen to past recordings</h5>
                             </div>
                         </div>
                         <div class="caption list_slide lfb tp-caption start"
                              data-easing="easeOutExpo"
                              data-start="1500"
                              data-speed="1050"
                              data-y="220"
                              data-x="40">
                             <div class="list-slide">
                                 <i class="fa fa-eye slide-icon"></i>
                                 <h5> Read the transcripts</h5>
                             </div>
                         </div>
                         <div class="caption lfb caption_button_1 fadeout tp-caption start"
                              data-x="40"
                              data-y="300"
                              data-speed="900"
                              data-endspeed="300"
                              data-start="2000"
                              data-hoffset="-70"
                              data-easing="easeOutExpo">
                             <a class="btn-special hidden-xs btn-grey" href="{% url 'sermon_series' %}">Listen / Read</a>
                         </div>
                     </li>
                 </ul>
             </div>
         </div>
         <!-- Slider End-->
         <!-- Slogan Start-->
            <!-- Slogan Start-->
            <div class="slogan bottom-pad-small">
               <div class="container">
                  <div class="row">
                     <div class="slogan-content">
                        <div class="col-lg-9 col-md-9">
                           <h2 class="slogan-title">Curious about Jesus and the Bible?</h2>
                           <p>At Living Hope, we encourage questions about Jesus and the Bible. In fact, we have them as well. If you've never heard the gospel get a brief overview of why the gospel is good news for you.</p>
                        </div>
                        <div class="col-lg-3 col-md-3">
                           <div class="get-started">
                              <br>
                              <button class="btn btn-special btn-color pull-right">Read More</button>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Slogan End--> 
            <!-- Main Content start-->
            <div class="main-content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-clock-o"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-clock-o"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Service Times / Directions</h3>
                              <p>
                                 We would love it if you would join us at one of our worship services. It's really the best way you can get to know us and, just as importantly, is the best way we can get to know you! We'll even tell you where and when we're meeting! Sweet deal, huh?
                              </p>
                              <a href="{% url 'services' %}">Service times <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a><br>
                              <a href="{% url 'contact' %}"><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> Directions </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-leaf"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-leaf"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Listen Online</h3>
                              <p>
                                 Couldn't join us for a service or live too far away? Listen to our sermon recordings online or download to listen to them on the go. If you'd rather read your sermons, we've got you covered! Sermon transcripts are available as well!
                              </p>
                              <a href="{% url 'sermon_series' %}">Sermons <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="fa fa-comment-o"></i></div>
                                 <div class="ch-info-back">
                                    <i class="fa fa-comment-o"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Blog</h3>
                              <p>
                                 If you're eager for more written word from Living Hope, look no further than our blog! Updated with the freshest news and thoughts from Living Hope, keep up to date with what's going on.
                              </p>
                              <a href="{% url 'blog' %}">Read Blog <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
            <!-- Newest News Start-->
            <div class="product-lead bottom-pad">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-12 col-xs-12 text-center animate_afl d1">
                        {% if headline.main_image %}
                        <img src="{{headline.main_image.url}}">
                        {% else %}
                        <img src="{% static 'livinghope/whatsnew.png' %}">
                        {% endif %}
                        <!-- <i class="fa fa-leaf fa-5x"></i> -->
                     </div>
                     <div class="col-md-8 col-sm-12 col-xs-12 animate_afr d3">
                        <div class="app-service">
                           <h3>{{headline.title}}</h3>
                           <h4><i class="fa fa-calendar"></i> {{headline.created_on|date}}</h4>
                           {{headline.content|safe|truncatewords_html:75}}
                           <div class="divider"></div>
                           <div class="learnmore">
                              <a class="btn-special btn-grey" href="{% url 'blog_entry' headline.id %}">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> 
            <!-- Newest News end--> 
           <!-- Latest Posts start --> 
            <div class="latest-posts">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">Latest Blog Posts</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
                        <ul>
                          {% for post in latest_posts %}
                           <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    {% if post.main_image %}
                                    <a class="post-item-link" href="{{post.main_image.url}}" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="fa fa-search"></i></span><img alt="" src="{{post.main_image.url}}" class="img-responsive"></a>
                                    {% endif %}
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="{% url 'blog_entry' post.id %}">{{post.created_on}}</a></span>
                                 <h4><a href="{% url 'blog_entry' post.id %}" class="title">{{post.title}}</a></h4>
                                 <p>
                                 <i class="fa fa-user"></i>
                                 <a href="#" class="blog-entry-meta-author">{{post.author}}</a>
                                 <br>
                                 <a href="{% url 'blog_entry' post.id %}">Read more <i class="fa fa-angle-double-right"></i></a>
                               </p>
                              </div>
                           </li>
                         {% endfor %}
                        </ul>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Latest Posts End -->
          
            <!-- Our Clients Start-->
            
            <!-- Our Clients End --> 












  
<!-- <div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="{% static 'livinghope/schedule.jpg'%}" width="100%">
    <div class="well">
    blah blah blah
    </div>
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="{% static 'livinghope/compass.jpg'%}" width="100%">
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="{% static 'livinghope/blog.jpg'%}" width="100%">
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="{% static 'livinghope/microphone.jpg'%}" width="100%">
  </div>
</div> -->

{% endblock %}