{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Our Servant Leaders</h2>
{% for row in rows_of_leaders %}
  {% for leader in row %}
    <div class="row">

      <div class="col-md-3">
        <br>
        <img src="{{leader.profile_picture.url}}" class="img-responsive" width="100%">
      </div>
      <div class="col-md-9">
        <h3>{{leader.first_name}} {{leader.last_name}} <br>
          <small>
            {{leader.ministry}}
          </small>
        </h3>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{leader.email}}">{{leader.email}}</a></p>
        <p>
          {{leader.bio}}
        </p>
      </div>

    </div>
    <hr>
  {% endfor %}
{% endfor %}
{% endblock %}