{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Ministries</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Small Groups</h3>
        <p>
            Our desire is that small groups at Living Hope will help foster growth in the Gospel, create deeper fellowship and community within the body, and mobilize people for mission, all through the foundation of the Word of God. We believe the Christian life cannot be lived alone and every person needs a community where they can feel like they belong, be cared for, and prayed for in the context of life.
            <br><br>
            We will be doing a pulpit curriculum this year at Living Hope. This means we will be studying the sermon and passage from the previous week. All are welcome to attend! Living Hope small groups currently meet at four different locations: Bloomingdale, Schaumburg, Des Plaines and Wheeling. Please email us at info.livinghope@gmail.com or use the “Contact Us” form on this website for more information.
        </p>
        <hr>
        <h3>Junior High / High School Ministry</h3>
        <p>
            Every Sunday from 10:30am to 11:30am at Living Hope.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Children's Ministry</h3>
        <p>
            Childcare is available for all ages (0-12 years).
            <br><br>
            Older children (6-12 years) are taught every Sunday during service in Children’s Church, as Living Hope members teach through the Jesus Storybook Bible Curriculum. This will allow you to freely enjoy service.
            <br><br>
            <strong>Every Story Whispers His Name…</strong><br>
            Written for children ages four and up, The Jesus Storybook Bible tells the one story underneath all the stories of the Bible and points to the birth of a child, the Rescuer, Jesus. Complete with 44 Bible stories, The Jesus Storybook Bible paints a beautiful portrait of Jesus and invites children to see that he is not only at the center of God’s great story of redemption—he is at the center of their story too. Children and adults alike will be captivated by the beautifully written narrative and the original and unique illustrations by accomplished artist Jago. Lloyd-Jones’ powerful gift of storytelling draws the reader into the greatest adventure of all time in an exciting page-turner that kids (and adults) find hard to put down.
        </p>
        <hr>
        <h3>Ways to get involved</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Praise and Worship
            </li>            
            <li class="list-group-item">
                Childcare
            </li>            
            <li class="list-group-item">
                Sunday School Teachers
            </li>            
            <li class="list-group-item">
                Offering
            </li>            
            <li class="list-group-item">
                Ushers/Greeters
            </li>            
            <li class="list-group-item">
                Congregational Care
            </li>
            <li class="list-group-item">
                Men's and Women's Ministry
            </li>
        </ul>
    </div>

</div>
{% endblock %}