{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
| Missions Prayer Calendar
{% endblock %}

{% block headloaders %}
  <link rel="stylesheet" href="{% static 'livinghope/fix_modal.css' %}">
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Missions Prayer Calendar</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="container">
  <br>
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success">
              {{message}}
          </div>
      {% endfor %}
  {% endif %}
  <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
        <div class="row">
           <div class="portfolio">
            {% for prayer_month in prayer_months %}
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                 <div class="portfolio-item">
                  {% if prayer_month.main_image %}
                  <a href="#" class="portfolio-item-link" data-target="#prayer_month_{{prayer_month.id}}" data-toggle="modal" >
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen"><i class="fa fa-search"></i></span>
                    <img src="{{prayer_month.main_image|thumbnail_url:'prayer_calendar_l'}}" alt=" "/>
                  </a>
                  {% elif prayer_month.missionary.profile_picture %}
                  <a href="#" class="portfolio-item-link" data-target="#prayer_month_{{prayer_month.id}}" data-toggle="modal" >
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen"><i class="fa fa-search"></i></span><img src="{{prayer_month.missionary.profile_picture|thumbnail_url:'prayer_calendar'}}" alt=" "/>
                  </a>
                  {% else %}
                  <a href="#" class="portfolio-item-link" data-target="#prayer_month_{{prayer_month.id}}" data-toggle="modal" >
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen"><i class="fa fa-search"></i></span><img src="{% static 'livinghope/placeholderprofile.jpg' %}" height="361px" alt=" "/>
                  </a>
                  {% endif %}
                    <div class="portfolio-item-title">
                       <a href="#">{{prayer_month.highlight}}</a>
                       <p>
                          {{prayer_month.get_month_display}} {{prayer_month.year}}
                       </p>
                    </div>
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% endfor %}
           </div>
        </div>
     </div>
  </div>
  <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <div class="pull-right text-right">
          Displaying months {{prayer_months.start_index}} - {{prayer_months.end_index}} of {{prayer_months.paginator.count}}
          <nav>
            <ul class="pagination" id="pagination">
            </ul>
          </nav>
        </div>
      </div>
  </div>

</div>

{% for prayer_month in prayer_months %}
<div class="modal fade" id="prayer_month_{{prayer_month.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Missions Prayer Calendar</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    {% if prayer_month.main_image %}
                        <img src="{{prayer_month.main_image|thumbnail_url:'prayer_calendar_l'}}" alt=" " class="img-thumbnail img-responsive"/>
                    {% else %}
                    <img src="{% static 'livinghope/placeholderprofile.jpg' %}" class="img-responsive">
                    {% endif %}
                    <div class="text-center">
                      <hr>
                    <h2>{{prayer_month.highlight}}<br>
                      <small>
                            {{prayer_month.get_month_display}} {{prayer_month.year}}
                      </small>
                    </h2>
                      </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <h3 class="title">Prayer Needs</h3>
                    <p>
                      {{prayer_month.prayer_requests|safe}}
                    </p>
                </div>

            </div>
        </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="contact-leader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Contact Leader</h4>
        </div>
        <div class="modal-body" id="contact-leader-modal-body">

        </div>
    </div>
  </div>
</div>


{% endblock %}

{% block endloaders %}
      <script src="{% static 'livinghope/pixma/js/jquery.isotope.js' %}"></script>
      <script src="{% static 'livinghope/pixma/js/portfolio.js' %}"></script>
      <script src="{% static 'livinghope/contact_leader.js'%}"></script>

      <script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ prayer_months.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ prayer_months.number }},
                selectOnClick: false,
            });
            
            if ({{prayer_months.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{prayer_months.number}} == {{prayer_months.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        
    });
  </script>
{% endblock %}