{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Missions</h2>
<p>
We want to be a church that is growing in seeing and participating in God’s purposes around the world. Part of our mission is to reach the local community through outreach and support campus ministries and global missions. Missions Sunday happens at the end of each month where we get an opportunity to take part in supporting missions through our prayers and resources. We hope this can challenge us to grow in our understanding of God’s mission and teach us to steward our resources well so that the name of Jesus would be proclaimed in the city of Glendale Heights, to the northwest suburbs of Chicago, and to the ends of the earth!
</p>
<hr>
{% if rows_of_missionaries %}
  <p>
   Please browse this page to learn more about the ministries we support. God is using each of these groups to build up His kingdom for His glory and we are excited to partner with what God is already doing.
  </p>
  {% for row in rows_of_missionaries %}
    <div class="row">
      {% for missionary in row %}
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="{{missionary.profile_picture.url}}" class="img-responsive" >
            <div class="caption">
              <h3>
                {{missionary.first_name}} {{missionary.last_name}}<br>
                <small>Serving with {{missionary.organization}}</small>
              </h3>
              <a href="{% url 'livinghope.views.missionary_profile' missionary.id %}" class="btn btn-default">Details</a>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
	NO
{% endif %}
{% endblock %}