{% extends 'base.html' %}
{% load static %}

{% block headloaders %}
<style>
.popover{
    max-width: 90%; // Max Width of the popover (depending on the container!)
}
</style>
{% endblock %}

{% block title %}
| Mission
{% endblock %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Missions</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="content">
  <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
      <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <article>
           <h3 class="title">Missions at Living Hope</h3>
           <div id="missions-description" class="post-content">
    <!--           <div class="img-content">
                 <img src="img/team/team.jpg" alt="">
              </div> -->
              <p>
                 Global Missions is the partnering with and sending out 
                 (<a href="#" tabindex="0" data-toggle="popover" title="John 20:21 (ESV)" data-content="Jesus said to them again, “Peace be with you. As the Father has sent me, even so I am sending you.">John 20:21</a>) 

                 of disciplemaking disciples 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Matthew 28:20 (ESV)" data-content="...teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.">Matt. 28:20</a>) 

                 by a local church 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Acts 13:1-3 (ESV)" data-content='Now there were in the church at Antioch prophets and teachers, Barnabas, Simeon who was called Niger, Lucius of Cyrene, Manaen a lifelong friend of Herod the tetrarch, and Saul. While they were worshiping the Lord and fasting, the Holy Spirit said, "Set apart for me Barnabas and Saul for the work to which I have called them." Then after fasting and praying they laid their hands on them and sent them off.'>Acts 13:1-3</a>) 

                 or parachurch organization 
                 (<a href="#" tabindex="0" data-toggle="popover" title="2 John 5-8 (ESV)" data-content='And now I ask you, dear lady - not as though I were writing you a new commandment, but the one we have had from the beginning - that we love one another. And this is love, that we walk according to his commandments; this is the commandment, just as you have heard from the beginning, so that you should walk in it. For many deceivers have gone out into the world, those who do not confess the coming of Jesus Christ in the flesh. Such a one is the deceiver and the antichrist. Watch yourselves, so that you may not lose what we have worked for, but may win a full reward.'>2 John 5-8</a>)

                 through the power of the Holy Spirit 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Acts 1:8 (ESV)" data-content='"But you will receive power when the Holy Spirit has come upon you, and you will be my witnesses in Jerusalem and in all Judea and Samaria, and to the end of the earth."'>Acts 1:8</a>) 

                 to make disciplemaking disciples across all nations 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Matthew 28:19 (ESV)" data-content='Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit'>Matt. 28:19</a>) 

                 by the proclaiming of the Good News of Jesus’ life, death and resurrection 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Acts 16:31 (ESV)" data-content='And they said, "Believe in the Lord Jesus, and you will be saved, you and your household."'>Acts 16:31</a>; 

                 <a href="#" tabindex="0" data-toggle="popover" title="1 Corinthians 2:2 (ESV)" data-content='For I decided to know nothing among you except Jesus Christ and him crucified.'>1 Cor. 2:2</a>; 

                 <a href="#" tabindex="0" data-toggle="popover" title="Romans 10:9 (ESV)" data-content='...because, if you confess with your mouth that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved.'>Rom. 10:9</a>) 

                 and calling people to respond with repentance and good deeds thereof 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Acts 26:20 (ESV)" data-content='...but declared first to those in Damascus, then in Jerusalem and throughout all the region of Judea, and also to the Gentiles, that they should repent and turn to God, performing deeds in keeping with their repentance.'>Acts 26:20</a>) 

                 until His coming again 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Philippians 3:20 (ESV)" data-content='But our citizenship is in heaven, and from it we await a Savior, the Lord Jesus Christ'>Phil. 3:20</a>) 

                 for the glory of God 
                 (<a href="#" tabindex="0" data-toggle="popover" title="Romans 11:36 (ESV)" data-content='For from him and through him and to him are all things. To him be glory forever. Amen.'>Rom. 11:36</a>). 
              </p>
              <br>
              <p>
                 Through the ministry of missions, we want to be growing in seeing and participating in God’s purposes around the world through prayer, giving, and serving!
              </p>
              <br>
              <p>
                  Missions Sunday happens on the first Sunday of each month where we get an opportunity to take part in supporting missions through our prayers and resources. We hope this can challenge us to grow in our understanding of God’s mission and teach us to steward our resources well so that the name of Jesus would be proclaimed in the city of Glendale Heights, to the northwest suburbs of Chicago, and to the ends of the earth.
              </p>
           </div>
        </article>
      </div>
      <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="widget category">
            <h3 class="title">Get Involved</h3>
            <ul class="category-list slide">
                <li><a href="#">Join us in praying for each country of the month</a></li>
                <li><a href="#">Give to the missions fund</a></li>
            </ul>
        </div>
        <div>
                <p>
                    For more information on how to get involved in missions or serve, contact {{ministry_leaders|pluralize:"the,one of our"}} missions coordinator{{ministry_leaders|pluralize}} below:
                </p>
            <div class="portfolio">
              {% for leader_role in ministry_leaders %}
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 item">
                   <div class="portfolio-item">
                    <a href="#" data-leader-id="{{leader_role.leader.id}}" data-subject="RE: Living Hope Missions" data-target="#contact-leader" data-toggle="modal" class="portfolio-item-link contact-leader-link" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen"><i class="fa fa-envelope"></i></span>
                        {% if leader_role.leader.profile_picture %}
                          <img src='{{leader_role.leader.profile_picture.url}}' >
                        {% else %}
                          <img class="img-responsive" src="{% static 'livinghope/placeholderprofile.jpg' %}" />
                        {% endif %}
                    </a>
                      <div class="portfolio-item-title">
                         {{leader_role.leader.first_name}} {{leader_role.leader.last_name}}
                      </div>
                      <div class="clearfix"></div>
                   </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div><!-- end row -->
  
  <h3 class="title">Who we partner with</h3>
  <p>
  We are grateful to be able to partner with ministries that God is using to build up His kingdom. You can learn more about the ministries we partner with below:
  </p>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
           <div class="portfolio">
            {% for missionary in missionaries %}
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                 <div class="portfolio-item">
                  <a href="{% url 'missionary_profile' missionary.id %}" class="portfolio-item-link" >
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen"><i class="fa fa-search"></i></span>
                    {% if missionary.profile_picture %}
                    <img class="img-responsive" src="{{missionary.profile_picture.url}}" alt=" "/>
                    {% else %}
                    <img class="img-responsive" src="{% static 'livinghope/placeholderprofile.jpg' %}" />
                    {% endif %}
                  </a>
                    <div class="portfolio-item-title">
                       <a href="single-project.html">{{missionary.first_name}} {{missionary.last_name}}</a>
                       <p>
                          {% if missionary.organization %}
                          Serving with {{missionary.organization}}
                          {% endif %}
                       </p>
                    </div>
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% endfor %}
           </div>
        </div>
     </div>

  </div>
</div>

<!-- contact leader modal -->
<div class="modal fade" id="contact-leader" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Contact Leader</h4>
        </div>
        <div class="modal-body" id="contact-leader-modal-body">

        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endloaders %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover(
      {
        'placement':'top',
        'trigger':'focus',
        'viewport': '#missions-description'
      }
    )
})
</script>
<script src="{% static 'livinghope/contact_leader.js'%}"></script>

{% endblock %}