{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block headloaders %}
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
  <style type="text/css">
      .details {    
        -webkit-transition: all .15s ease; 
        -moz-transition: all .15s ease; 
        -ms-transition: all .15s ease;
        -o-transition: all .15s ease; 
        transition: all .15s ease;
      }

      .sermon:hover {background-color:#E4E4E4;}
      .sermon td { 
        cursor:pointer; 
        border-bottom:2px solid #E4E4E4; 
        font-size:12px;}

      .details td {
        font-size:12px;
      }
      #sermonlisting div.arrow { 
        background:transparent url({% static 'livinghope/arrows.png' %}) no-repeat scroll 0px -16px;
        width:16px; 
        height:16px; 
        display:block;
      }
      #sermonlisting div.up { 
        background-position:0px 0px;
      }
  </style>
  <link rel="stylesheet" href="{% static 'livinghope/fix_modal.css'%}">
  <meta property="og:title" content="Living Hope | Sermons" />
  <meta property="og:type" content="website" />
  {% if series %}
  <meta property="og:image" content="{{series.series_image|thumbnail_url:'ss_med'}}" />
  <meta property="og:description" content="Listen, download, or read the sermons in the sermon series {{series.name }}" />
  {% else %}
  <meta property="og:image" content="{{current_series_image|thumbnail_url:'ss_med'}}" />
  <meta property="og:description" content="Couldn't join us for a service or live too far away? Listen to our sermon recordings online or download to listen to them on the go. If you'd rather read your sermons, we've got you covered! Sermon transcripts are available as well!" />
  {% endif %}
{% endblock %}

{% block title %}
| Sermons
{% endblock %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Sermon Recordings and Transcripts</h2>
         </div>
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="pull-right">
              <br>
              <select class="form-control" id="sermon-series-selector">
                <option value=0>--- Sermon Series ----</option>
                {% for s in all_series %}
                  {% ifequal series.id s.id %}
                    <option value={{s.id}} selected>{{s.name}}</option>
                  {% else %}
                    <option value={{s.id}}>{{s.name}}</option>
                  {% endifequal %}
                {% endfor %}
              </select>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container">
  <br>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<div id='alerts'>
{% if form.errors %}
    {% for error in form.query.errors %}
        <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
{% endif %}
</div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form-inline" role="form"> <!-- action="" method="get" -->
            <div class="form-group">
                <input type="text" autocomplete="off" class="form-control" id="id_query" name="query" placeholder="Enter Search Verses..." value="{{query}}">
            </div>
            <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-in" data-spinner-color="#000"><span class="ladda-label">Search</span></button>
        </form>
    </div>
  </div>
<br>

{% if sermons %}

<div class="row">
    {% if series %}
    <div class="col-md-4">
      <img src="{{series.series_image|thumbnail_url:'ss_med'}}" class="img-responsive img-thumbnail">
      <div class="well">
        <p>
          <h2>{{series.name}} {% if series.current_series %}<br><small>(Current Series)</small>{% endif %}</h2>
          <i class="fa fa-calendar"></i>&nbsp;
          {% if series.end_date %}
            {{series.start_date}} to {{series.end_date}}
          {% else %}
            {{series.start_date}} to Present
          {% endif %}
          <br>
          <i class="fa fa-book"></i>&nbsp;
          {{series.passage_range}}

        </p>
        {% if series.description %}
        {{series.description|safe}}
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if series %}
      <div class="col-md-8">
    {% else %}
      <div class="col-md-12">
        <h3><i class="fa fa-search"></i>&nbsp; Search results for "{{query}}"</h3>
    {% endif %}

      <div class="row">
          <div class="col-md-6">
              <nav>
                <ul class="pagination" id="pagination">
                </ul>
              </nav>
          </div>
          <div class="col-md-6">
            <p class="text-right">
              Displaying sermons {{sermons.start_index}} - {{sermons.end_index}} of {{sermons.paginator.count}}
            </p>

          </div>
      </div>

      <table class="table" id="sermonlisting">
        <thead>
          <tr>
            <th>Date</th><th>Title</th>{%if query%}<th>Series</th>{%endif%}<th>Passage</th><th>Author</th><th></th>
          </tr>
        </thead>
        {% for sermon in sermons %}
          <tr class="sermon">
            <td>{{sermon.sermon_date}}</td>
            <td>{{sermon.title}}</td>
            {% if query %}<td>{{sermon.sermon_series.name}}</td>{% endif%}
            <td>{{sermon.passage}}</td>
            <td>{{sermon.author}}</td>
            <td><div class="arrow"></div></td>
          </tr>
          <tr class="details">
            {% if series %}
            <td colspan=5>
            {% else %}
            <td colspan=6>
            {% endif %}
              <div class="row">
                  {% if sermon.recording %}
                  <audio preload="none" width="100%" class="col-md-12 pull-left" controls>
                    <source type="audio/mpeg" src="{{sermon.recording.url}}">
                    Your browser does not support audio.
                  </audio>
                  {% else %}
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>No Recording Available!</p>
                  </div>
                  {% endif %}
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                {% if sermon.manuscript %}
                  <button type="button" class="btn btn-primary btn-sm transcript-button" data-sermon-id="{{sermon.id}}" data-sermon-title="{{sermon.title}}" data-toggle="modal" data-target="#transcript-modal"><i class="fa fa-bars"></i> Sermon Transcript</button>
                {% endif %}
                {% if sermon.recording %}
                  <a class="btn btn-primary btn-sm" href="{{sermon.recording.url}}" download><i class="fa fa-download"></i> Download Audio</a>
                  <button type="button" class="btn btn-warning btn-sm pull-right broken-audio-button" data-sermon-id="{{sermon.id}}" data-sermon-title="{{sermon.title}}" data-toggle="modal" data-target="#broken-audio-modal"><i class="fa fa-exclamation-circle"></i> Report Broken Audio</button>
                {% endif %}
                  <button type="button" class="btn btn-primary btn-sm song-suggestion-button" data-sermon-title="{{sermon.title}}" data-verse-string="{{sermon.passage}}" data-toggle="modal" data-target="#song-suggestion-modal"><i class="fa fa-music"></i> Song suggestions</button>
                </div>
              </div>
              {% if sermon.sermondocument_set.all %}
                <div class="row">
                  <br>
                  <div class="col-md-12">
                      <ul class='list-group'>
                      {% for sermon_document in sermon.sermondocument_set.all %}
                          <li class='list-group-item'>
                            <div class="row">
                              <div class="col-md-8">
                                {{sermon_document.name}} 
                              </div>
                              <div class="col-md-4">
                                  <a class="btn btn-primary btn-sm pull-right" href="{{sermon_document.document.url}}" download><i class="fa fa-download"></i> Download</a>
                              </div>
                            </div>

                          </li>
                      {% endfor %}
                      </ul>
                  </div>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% else %}
  <h3><i class="fa fa-search"></i> Sorry! No Sermons Found!</h3>
{% endif %}
<!-- song suggestion modal-->
<div class="modal fade" id="song-suggestion-modal" tabindex="-1" role="dialog" aria-labelledby="transcript-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="song-suggestion-modal-label"></h4>
      </div>
      <div class="modal-body" id="song-suggestion-modal-body">
        <p class="text-center">
          <i class="text-center fa fa-cog fa-spin fa-5x"></i>
        </p>
        <h2 class="text-center">Loading...</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- transcript modal-->
<div class="modal fade" id="transcript-modal" tabindex="-1" role="dialog" aria-labelledby="transcript-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="transcript-modal-label"></h4>
      </div>
      <div class="modal-body" id="transcript-modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- broken audio modal -->
<div class="modal fade" id="broken-audio-modal" tabindex="-1" role="dialog" aria-labelledby="transcript-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="broken-audio-modal-label"></h4>
      </div>
      <div class="modal-body" id="broken-audio-modal-body">
          <p>
            Before submitting a broken audio report, please confirm that you are experiencing the following: <br>
            <ul class="list-group">
              <li class="list-group-item">
                  After pressing play, after 15 seconds (depending on your internet connection) you don't hear any audio
              </li>
              <li class="list-group-item">
                  If you press play, then press pause, you are no longer able to press play again.
              </li>
              <li class="list-group-item">
                  If you click on the download audio button, your browser says that the download failed because there was no file.
              </li>
            </ul>
          </p>        
      </div>
      <div class="modal-footer" id="broken-audio-modal-footer">
        <!-- custom confirm button is put in via js with data attr for sermon id -->
        <!-- <button type="button" class="btn btn-success confirm-broken-audio">Confirm</button> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
</div>

</div>
{% endblock %}  

{% block endloaders %}
<script src="{% static 'livinghope/bootstrap/js/typeahead.js' %}"></script>  
<link href="{% static 'livinghope/bootstrap/css/typeahead.js-bootstrap.css'%}" rel="stylesheet" type="text/css">
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ sermons.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                {% if query %}
                hrefTextPrefix: '?query={{query}}&page=',
                {% else %}
                hrefTextPrefix: '?page=',
                {% endif %}
                currentPage: {{ sermons.number }},
                selectOnClick: false,
            });
            
            if ({{sermons.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{sermons.number}} == {{sermons.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        

        $('.transcript-button').click(function(){
            var sermon_id = $(this).data('sermon-id');
            var sermon_title = $(this).data('sermon-title')
            var url = "{% url 'transcript_modal' %}";
            $('#transcript-modal-label').text('Transcript of "'+sermon_title+'"')
            $.get(url, {'sermon-id': sermon_id}, function(response){
                $('#transcript-modal-body').empty();
                $('<p>' +response+'</p>').appendTo('#transcript-modal-body');
            })
        });

        $('.song-suggestion-button').click(function(){
            //clear out old modal info
            var loading_html = '<p class="text-center"><i class="text-center fa fa-cog fa-spin fa-5x"></i></p><h2 class="text-center">Loading...</h2>'
            $('#song-suggestion-modal-body').html(loading_html);
            $('#song-suggestion-modal-label').html();

            var sermon_title = $(this).data('sermon-title');
            var verse_string = $(this).data('verse-string');
            var verse_url = "http://inspirepraise.com/api/verses/?verse_string=" + verse_string;
            $.get(verse_url, function(verse_data){
              //get the verse ids according to inspirepraise
              var verse_id_string = '';
              for (var index in verse_data){
                verse_id_string = verse_id_string + verse_data[index].id +',';
              }

              var song_url = "http://inspirepraise.com/api/songs/?verses="+verse_id_string.slice(0, -1);
              $.get(song_url, function(song_data){
                songs_html = ''
                for (var index in song_data){
                  var title = song_data[index].title
                  var ccli = song_data[index].ccli
                  var song_html = title +' (CCLI #' + ccli + ')<br>'
                  songs_html = songs_html + song_html
                }
                var label_html = sermon_title + ' (' + verse_string + ') - Song Suggestions' 
                $('#song-suggestion-modal-label').html(label_html);
                $('#song-suggestion-modal-body').fadeOut('slow', function(){
                  $(this).html(songs_html);
                  $(this).fadeIn('slow');
                });
            })
        })

        $('.broken-audio-button').click(function(){
            var sermon_id = $(this).data('sermon-id');
            var sermon_title = $(this).data('sermon-title')
            $('#broken-audio-modal-label').text('Confirm broken audio for "'+sermon_title+'"');
            var footer_html = '<i id="broken-audio-spinner" style="display:none;" \
                                class="fa fa-cog fa-2x fa-spin"></i> \
                                <button type="button" data-sermon-id="'+sermon_id+'" \
                                class="btn btn-success confirm-broken-audio"> \
                                Confirm</button><button type="button" class="btn btn-default" \
                                data-dismiss="modal">Cancel</button>'
            $('#broken-audio-modal-footer').html(footer_html)
            //this must be here since i can't set the listener before the button exists
            $('.confirm-broken-audio').click(function(){
                $(this).attr('disabled', 'disabled');
                $('#broken-audio-spinner').show()
                var sermon_id = $(this).data('sermon-id');
                var report_broken_audio_url = "{% url 'broken_audio' %}";
                $.get(report_broken_audio_url, {'sermon-id': sermon_id}, function(response){
                    location.reload();
                })
            })
        })


        $("#sermonlisting tr:not(.sermon)").hide();
        $("#sermonlisting tr:first-child").show();
        
        $("#sermonlisting tr.sermon").click(function(){
            if ($(this).next("tr").is(":visible")){
                // $(".details").hide();
                $(this).next("tr").hide();
            }
            else{
                // $(".details").hide();
                $(this).next("tr").show();
            }
            $(this).find(".arrow").toggleClass("up");
        });

        $('#sermon-series-selector').on('change', function(){
            var series_id = $(this).val();
            if (series_id == 0){
              return;
            }
            window.location.href = "{% url 'livinghope.views.sermon_series' %}" + series_id;
        })

        $('#id_query').typeahead({
            local:["Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy", "Joshua",
                    "Judges", "Ruth", '1 Samuel', '2 Samuel', '1 Kings', '2 Kings', 
                    '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job',
                    'Psalm', 'Proverbs', 'Ecclesiastes', 'Song of Solomon', 'Isaiah',
                    'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel',
                    'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah',
                    'Haggai', 'Zechariah', 'Malachi', 'Matthew', 'Mark', 'Luke', 'John',
                    'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 
                    'Ephesians', 'Philippians', 'Colossians', '1 Thessalonians',
                    '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon',
                    'Hebrews', 'James', '1 Peter', '2 Peter', '1 John', '2 John', '3 John',
                    'Jude', 'Revelation']
        });
    });
  </script>

{% endblock %}