{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block headloaders %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
.series-image{
    box-shadow:0;
    transition:box-shadow 0.25s;
}
.series-image:hover{
        box-shadow: 0px 0px 10px 0px #666,
              0px 5px 10px 0px #000;}
}
</style>
{% endblock %}
{% block title %} | Sermon Series{%endblock %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Sermon Series</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>
<div class="container">
    <br><br>



  <div class="row">

     <div class="clearfix"></div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
           <div class="portfolio three-column">
            {% for series in all_series %}
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web jquery item">
                 <div class="portfolio-item">
                    <a href="{% url 'livinghope.views.sermon_series' series.id %}" class="portfolio-item-link" >
                    <span class="portfolio-item-hover"></span>
                    <span class="fullscreen"><i class="fa fa-search"></i></span><img src="{{series.series_image|thumbnail_url:'ss_thumb'}}" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                       <a href="single-project.html">{{series.name}}</a>
                       <p>
                          {%if not series.current_series%}
                            {%if series.end_date%}
                            {{series.start_date}} - {{series.end_date}}
                            {%else%}
                            Ongoing from {{series.start_date}}
                            {%endif%}
                          {% else %}
                            Current Series
                          {% endif %} 
                          <br> {{series.passage_range}}
                       </p>
                    </div>
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% endfor %}
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}