{% extends 'base.html' %}
{% load static %}

{% block headloaders %}

{% endblock %}
{% block title %} | Sermon Series{%endblock %}

{% block content %}
<div class="container">
  <h2>Sermon Series</h2>
  <div class="content">
    <div class="fusion-portfolio wrapper-portfolio-grid cbp-3-col">

          <div id="grid-container" class="cbp-l-grid-gallery">
              <ul>
                  {% for series in all_series %}
                  <li class="cbp-item  col-sm-3 col-xs-6 motion">
                      <a href="{% url 'sermon_series' series.id %}" class="cbp-caption">
                          <div class="cbp-caption-defaultWrap">
                              <img src="{{series.series_image_thumbnail.url}}" alt="" height="100%" class="img-responsive">
                          </div>
                          <div class="cbp-caption-activeWrap">
                              <div class="cbp-l-caption-alignCenter">
                                  <div class="cbp-l-caption-body">
                                      <div class="cbp-l-caption-text">{{series.name}}</div>
                                      <p class="cbp-l-caption-desc">        
                                        {%if not series.current_series%}
                                          {%if series.end_date%}
                                          {{series.start_date}} - {{series.end_date}}
                                          {%else%}
                                          Ongoing from {{series.start_date}}
                                          {%endif%}
                                        {% else %}
                                          Current Series
                                        {% endif %} 
                                        <br> {{series.passage_range}}</p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </li>
                  {% endfor %}
              </ul>

          </div>
        </div>
    </div>
</div>


{% block endloaders %}

{% endblock %}



{% endblock %}