{% extends 'base.html' %}
{% load static %}
{% block headloaders %}
<link href="{% static 'livinghope/simple-pagination/simplePagination.css'%}" rel="stylesheet" type="text/css">
  <style type="text/css">
      .details {    
        -webkit-transition: all .15s ease; 
        -moz-transition: all .15s ease; 
        -ms-transition: all .15s ease;
        -o-transition: all .15s ease; 
        transition: all .15s ease;
      }

      .sermon:hover {background-color:#E4E4E4;}
      .sermon td { 
        cursor:pointer; 
        border-bottom:2px solid #E4E4E4; 
        font-size:12px;}

      .details td {
        font-size:12px;
      }
      #sermonlisting div.arrow { 
        background:transparent url({% static 'livinghope/arrows.png' %}) no-repeat scroll 0px -16px;
        width:16px; 
        height:16px; 
        display:block;
      }
      #sermonlisting div.up { 
        background-position:0px 0px;
      }
  </style>
  <link rel="stylesheet" href="{% static 'livinghope/fix_modal.css'%}">

{% endblock %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Sermon Recordings and Transcripts</h2>
         </div>
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="pull-right">
              <br>
              <select class="form-control" id="sermon-series-selector">
                {% for s in all_series %}
                  {% ifequal series.id s.id %}
                    <option value={{s.id}} selected>{{s.name}}</option>
                  {% else %}
                    <option value={{s.id}}>{{s.name}}</option>
                  {% endifequal %}
                {% endfor %}
              </select>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container">
  <br>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

{% if sermons %}

<div class="row">
    <div class="col-md-4">
      
      <img src="{{series.series_image_thumbnail.url}}" class="img-responsive img-thumbnail">
      <div class="well">
        <p>
          <h2>{{series.name}} {% if series.current_series %}<br><small>(Current Series)</small>{% endif %}</h2>
          <i class="fa fa-calendar"></i>&nbsp;
          {% if series.end_date %}
            {{series.start_date}} to {{series.end_date}}
          {% else %}
            {{series.start_date}} to Present
          {% endif %}
          <br>
          <i class="fa fa-book"></i>&nbsp;
          {{series.passage_range}}

        </p>
        {% if series.description %}
        {{series.description|safe}}
        {% endif %}
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
          <div class="col-md-6">
              <nav>
                <ul class="pagination" id="pagination">
                </ul>
              </nav>
          </div>
          <div class="col-md-6">
            <p class="text-right">
              Displaying sermons {{sermons.start_index}} - {{sermons.end_index}} of {{sermons.paginator.count}}
            </p>

          </div>
      </div>

      <table class="table" id="sermonlisting">
        <thead>
          <tr>
            <th>Date</th><th>Title</th><th>Passage</th><th>Author</th><th></th>
          </tr>
        </thead>
        {% for sermon in sermons %}
          <tr class="sermon">
            <td>{{sermon.sermon_date}}</td>
            <td>{{sermon.title}}</td>
            <td>{{sermon.passage}}</td>
            <td>{{sermon.author}}</td>
            <td><div class="arrow"></div></td>
          </tr>
          <tr class="details">
<!--             <td>
                <p>
                  Scripture: {{sermon.passage}}<br>
                  Author: {{sermon.author}}<br>
                  Date: {{sermon.sermon_date}}
                </p>
            </td> -->
            <td colspan=5>
              <div class="row">
                {% if sermon.recording %}
                <audio preload="none" class="col-md-12" controls>
                  <source type="audio/mpeg" src="{{sermon.recording.url}}">
                  Your browser does not support audio.
                </audio>
                {% else %}
                <p>No Recording Available!</p>
                {% endif %}
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                {% if sermon.manuscript %}
                  <button type="button" class="btn btn-primary btn-sm transcript-button" data-sermon-id="{{sermon.id}}" data-sermon-title="{{sermon.title}}" data-toggle="modal" data-target="#transcript-modal"><i class="fa fa-bars"></i> Sermon Transcript</button>
                {% endif %}
                {% if sermon.recording %}
                  <a class="btn btn-primary btn-sm" href="{{sermon.recording.url}}" download><i class="fa fa-download"></i> Download Audio</a>
                  <button type="button" class="btn btn-warning btn-sm pull-right broken-audio-button" data-sermon-id="{{sermon.id}}" data-sermon-title="{{sermon.title}}" data-toggle="modal" data-target="#broken-audio-modal">Report Broken Audio</button>
                {% endif %}

                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% else %}
  No Sermons
{% endif %}

<!-- transcript modal-->
<div class="modal fade" id="transcript-modal" tabindex="-1" role="dialog" aria-labelledby="transcript-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="transcript-modal-label"></h4>
      </div>
      <div class="modal-body" id="transcript-modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- broken audio modal -->
<div class="modal fade" id="broken-audio-modal" tabindex="-1" role="dialog" aria-labelledby="transcript-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="broken-audio-modal-label"></h4>
      </div>
      <div class="modal-body" id="broken-audio-modal-body">
          <p>
            Before submitting a broken audio report, please confirm that you are experiencing the following: <br>
            <ul class="list-group">
              <li class="list-group-item">
                  After pressing play, after 15 seconds (depending on your internet connection) you don't hear any audio
              </li>
              <li class="list-group-item">
                  If you press play, then press pause, you are no longer able to press play again.
              </li>
              <li class="list-group-item">
                  If you click on the download audio button, your browser says that the download failed because there was no file.
              </li>
            </ul>
          </p>        
      </div>
      <div class="modal-footer" id="broken-audio-modal-footer">
        <!-- custom confirm button is put in via js with data attr for sermon id -->
        <!-- <button type="button" class="btn btn-success confirm-broken-audio">Confirm</button> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
</div>

</div>
{% endblock %}  

{% block endloaders %}
<script src="{% static 'livinghope/simple-pagination/jquery.simplePagination.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $("#pagination").pagination({
                pages: {{ sermons.paginator.num_pages }},
                prevText: "&laquo;",
                nextText: "&raquo;",
                hrefTextPrefix: '?&page=',
                currentPage: {{ sermons.number }},
                selectOnClick: false,
            });
            
            if ({{sermons.number}} == 1){
                $('.prev').parent().attr('class','disabled');
            }
            if ({{sermons.number}} == {{sermons.paginator.num_pages}}){
                $('.next').parent().attr('class','disabled');
            }

        });        

        $('.transcript-button').click(function(){
            var sermon_id = $(this).data('sermon-id');
            var sermon_title = $(this).data('sermon-title')
            var url = "{% url 'transcript_modal' %}";
            $('#transcript-modal-label').text('Transcript of "'+sermon_title+'"')
            $.get(url, {'sermon-id': sermon_id}, function(response){
                $('#transcript-modal-body').empty();
                $('<p>' +response+'</p>').appendTo('#transcript-modal-body');
            })
        });

        $('.broken-audio-button').click(function(){
            var sermon_id = $(this).data('sermon-id');
            var sermon_title = $(this).data('sermon-title')
            $('#broken-audio-modal-label').text('Confirm broken audio for "'+sermon_title+'"');
            var footer_html = '<i id="broken-audio-spinner" style="display:none;" \
                                class="fa fa-cog fa-2x fa-spin"></i> \
                                <button type="button" data-sermon-id="'+sermon_id+'" \
                                class="btn btn-success confirm-broken-audio"> \
                                Confirm</button><button type="button" class="btn btn-default" \
                                data-dismiss="modal">Cancel</button>'
            $('#broken-audio-modal-footer').html(footer_html)
            //this must be here since i can't set the listener before the button exists
            $('.confirm-broken-audio').click(function(){
                $(this).attr('disabled', 'disabled');
                $('#broken-audio-spinner').show()
                var sermon_id = $(this).data('sermon-id');
                var report_broken_audio_url = "{% url 'broken_audio' %}";
                $.get(report_broken_audio_url, {'sermon-id': sermon_id}, function(response){
                    location.reload();
                })
            })
        })


        $("#sermonlisting tr:not(.sermon)").hide();
        $("#sermonlisting tr:first-child").show();
        
        $("#sermonlisting tr.sermon").click(function(){
            if ($(this).next("tr").is(":visible")){
                // $(".details").hide();
                $(this).next("tr").hide();
            }
            else{
                // $(".details").hide();
                $(this).next("tr").show();
            }
            $(this).find(".arrow").toggleClass("up");
        });

        $('#sermon-series-selector').on('change', function(){
            var series_id = $(this).val();
            window.location.href = "{% url 'livinghope.views.sermon_series' %}" + series_id;
        })
    });
  </script>
{% endblock %}