{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">Sunday Service</h2>
         </div>
<!--          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
               <ul>
                  <li>You are here:</li>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li>About Us</li>
               </ul>
            </div>
         </div> -->
      </div>
   </div>
</div>

<div class="container">

<br><br>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <h3 class="title">Join us</h3>
        <p>
            We believe that the Christian life lived out and the power of the resurrection is made manifest in the context of community. Worshipping together is a means to live out the Gospel in community. 

            <br><br>If it's your first time joining us and you don't know what to wear, no need to wear formal attire unless you want to. You may stick out a bit if you do!<br><br>

            We welcome you to join us for weekly worship services. Details below:
        </p>
        {% if services %}
            <ul class="list-group">
                {% for service in services %}
                    <li class="list-group-item">
                        <p>
                            <i class="fa fa-clock-o"></i> {{service.start_time|time:"g:iA"}}<br>
                            {{service.location.name}} {{service.get_day_display}} Service<br>
                            {{service.location.street_address}}<br>
                            {{service.location.city}}, {{service.location.state}} {{service.location.zip_code}}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>

        {% if current_series %}
        <h3 class="title">Current Sermon Series</h3>
        <div class="row">
            <div class="col-md-6">
                <img src="{{current_series.series_image_thumbnail.url}}" class="img-thumbnail img-responsive">
            </div>
            <div class="col-md-6">
                <h3>{{current_series.name}}</h3>
                <p>
                    Series beginning {{current_series.start_date}}<br>
                    {{current_series.passage_range}}<br>
                </p>
                {% if current_series.description %}
                <p>
                    {{current_series.description|safe}}
                </p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h3 class="title">What we do</h3>
            <div class="accordionMod panel-group">
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Call to Worship</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            It's all too easy to simply come to church and mentally, emotionally, and spiritually check out. We believe attending a church service is more like a family gathering than watching a movie so our "Call to Worship" is always meant to draw us back into community with each other and with God and to encourage us to consider why we worship.
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Praise and Worship</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            This is a slight misnomer. At Living Hope we believe that praise and worship are more than just songs we sing together but rather how we live our lives. We believe that we can worship and praise God through our occupations, our relationships, in addition to our voices and songs. At the same time, we believe it's important to come together corporately to sing to God and each other what He has done for us and who He is. Perhaps the best way to describe our typical musical style would be "Hillsong mixed with time-tested hymns".
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Missions Updates</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            We believe we are called to preach the Gospel to the ends of the earth. One way we try to encourage growth in this area is in giving monthly updates on various missionaries we are supporting and by praying together for the persecuted church in different countries. See <a href="{% url 'missions' %}">the missions page</a> for more details.
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Message</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            Just as we worship through singing and music, we also worship through the hearing of God's word preached to us. We believe that God's word is living and active meaning that God is actively speaking to us through it into our individual circumstances and hearts. 
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Prayer and Response</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            After hearing a message, this is an opportunity to let the truths of who God is and what He's done for us "soak in". This is also a good opportunity to respond to all of that in prayer.
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Offering</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            Often a sensitive topic, we believe that everything we own has been provided and entrusted to us by God. We are merely stewards of the gifts that He's given so, also as an act of worship, we offer it back to Him. If you consider Living Hope to be your home church, we encourage you to participate in this way. However, if you are visiting or checking us out, please don't feel obligated in any way to give.
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Praise and Worship</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            We typically bookend the service with musical worship as a way to emphasize that the whole service, not just the singing, is worship. For more information on "Praise and Worship", see above.
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Announcements</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            Receive the latest news on upcoming events, new ways to get involved, and everything in between!
                        </p>
                    </section>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-toggle">Fellowship and Covenantal Meal</h4>
                    <section class="accordion-inner panel-body">
                        <p>
                            After each service, we share a meal together knowing that food and community come hand in hand with each other. Please join us!
                        </p>
                    </section>
                </div>
            </div>

    </div>
</div>
</div>
{% endblock %}