/*mainly for blogs*/
blockquote {
    font-style:italic;
    font-size:15px;
}
.modal-dialog {
  padding-top: 5%;
}


/*fix pagination next and previous*/
a.prev, a.next{
    width:33px;
    height:33px;
}

/*fixes latest blog post on home page text being cut off*/
.blog-showcase-extra-info{
    height:auto;
}